<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115188820931-9ug6eenb63eduna8nlqoeek74b984sop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115188820931-9ug6eenb63eduna8nlqoeek74b984sop</string>
	<key>API_KEY</key>
	<string>AIzaSyCk27qkI89GMX20KYF9fX9yxSp09KdGU-s</string>
	<key>GCM_SENDER_ID</key>
	<string>115188820931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drodcasi.iOS.Nttdata</string>
	<key>PROJECT_ID</key>
	<string>nttdata-ffd13</string>
	<key>STORAGE_BUCKET</key>
	<string>nttdata-ffd13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115188820931:ios:083de2f26c71787a4f6b76</string>
</dict>
</plist>